@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;

.register-page,
.login-page {
  position: relative;

  aside {
    position: relative;
    display: none;

    .image-container {
      position: relative;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 80px);
    padding: 2rem 0;

    .container {
      width: 100%;
      min-height: 100%;
    }

    .text-info {
      display: none;
    }

    hr {
      display: none;
    }

    form {
      display: flex;
      flex-direction: column;
      padding-bottom: 2rem;

      .input-group {
        margin-bottom: 1rem;

        .input-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 0.25rem;

          label {
            font-weight: 400;
          }

          span {
            font-size: 12px;
            color: $red;
          }
        }
      }
    }

    button {
      width: 100%;
      margin: 2rem 0 1rem;
      background: $green;
      color: $white;
    }

    span.account-exists {
      text-align: center;
      font-size: 14px;

      a {
        color: $green;
      }
    }
  }

  .credits {
    text-align: center;
    color: $grey;
    font-size: 14px;
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .register-page,
  .login-page {
    display: flex;

    aside {
      display: initial;
      padding: 0;
      flex: 1;
      background: $light-grey-bg;

      .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .container {
          display: flex;
          align-items: center;
          justify-content: center;

          h1.hero-text {
            max-width: 1100px;
            z-index: $z-index1;
            text-align: center;
            text-shadow: $text-shadow3;
            color: $white;
          }
        }

        img {
          min-width: 100%;
          min-height: 100%;
        }
      }
    }

    .content {
      padding: 3rem 0 0;
      min-width: 450px;

      .text-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 1.5rem;

        a.brand {
          margin-bottom: 3rem;

          h3 {
            font-size: 1.5rem;
          }
        }

        h3.title {
          font-size: 3rem;
        }
      }

      hr {
        display: inline-block;
        min-width: 100%;
        border: none;
        border: 1px solid $border-color2;
        margin-bottom: 1.5rem;
      }

      form {
        button {
          width: 250px;
        }

        span.account-exists {
          text-align: start;
        }
      }
    }

    .credits {
      display: none;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .register-page,
  .login-page {
    min-height: 100vh;

    .content {
      min-width: 550px;
      padding: 2rem 0;

      .container {
        padding: 0 3rem;
      }

      .wrapper {
        display: flex;

        .input-group {
          flex: 1;

          &:first-child {
            margin-right: 0.75rem;
          }

          &:last-child {
            margin-left: 0.75rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-max) {
  .register-page,
  .login-page {
    display: flex;

    .content {
      min-width: 600px;

      .container {
        padding: 0 4rem;
      }
    }
  }
}
