@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.chat-page {
  flex: 1;

  .container {
    padding: 0;
  }

  .menu {
    min-height: 100%;

    li.list-item {
      margin-bottom: 1rem;

      &:last-child {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
}

@media only screen and (min-width: $breakpoint-md) {
}

@media only screen and (min-width: $breakpoint-lg) {
  .chat-page {
    background: $light-green;

    .container {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      padding: 0 1.5rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
}
