@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/border-radius" as *;

.edit-project-page {
  flex: 1;
  min-width: 100%;

  .container {
    max-width: $breakpoint-md;
  }

  h2 {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color1;
  }

  .navigation-slide {
    margin-bottom: 1rem;
  }

  form {
    .details {
      .input-group textarea {
        height: 16rem;
      }
    }

    .submit-btn {
      width: 100%;
    }
  }

  .members {
    .profile-list,
    .members-list {
      ul {
        padding-bottom: 1.5rem;
        overflow-y: scroll;
        max-height: 20rem;

        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1.5rem;

          .button-container button {
            width: 120px;
          }
        }

        li:last-child {
          margin: 0;
        }
      }
    }

    .profile-list {
      margin-bottom: 1rem;

      ul {
        max-height: 15rem;
      }

      .no-users-found {
        font-size: 14px;
        display: inline-block;
        color: $black;
      }
    }

    .members-list {
      margin-bottom: 1.5rem;

      h3 {
        margin-bottom: 1rem;
      }

      .no-members-selected {
        font-size: 14px;
        display: inline-block;
        color: $black;
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    button {
      width: 100%;
    }

    button:first-child {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .edit-project-page {
    h2,
    .navigation-slide {
      margin-bottom: 1.5rem;
    }

    form .submit-btn {
      width: 250px;
    }

    .members {
      .input-group {
        margin-bottom: 1.5rem;
      }

      .members-list {
        margin-bottom: 2.5rem;

        h3 {
          margin-bottom: 1.5rem;
        }
      }

      .profile-list,
      .members-list {
        ul {
          max-height: 18rem;
        }
      }
    }

    .settings {
      flex-direction: row;

      button {
        width: 250px;
      }

      button:first-child {
        margin: 0;
        margin-right: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .edit-project-page {
    padding: 3rem 0rem 9rem;
  }
}
