@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;

.landing-page {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.landing-page .showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: calc(100vh - 79px);
  padding: 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    z-index: $z-index1;

    h1.title {
      text-align: center;
      margin-bottom: 1rem;
      color: $white;
    }

    span.sub-title {
      text-align: center;
      margin-bottom: 4rem;
      line-height: 28px;
      color: $white;
      font-weight: 400;

      span.italic {
        font-style: italic;
        font-size: inherit;
        color: inherit;
        font-weight: 700;
      }
    }

    button {
      box-shadow: $box-shadow1;
    }
  }
}

.landing-page .profiles {
  background: $light-green;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, 350px);
    gap: 1rem;
  }
}

.landing-page .disciplines {
  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, 300px);
    gap: 1rem;

    .grid-item {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: $medium-radius;

      .image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background: $light-grey-bg;

        img {
          border-radius: inherit;
        }

        h3 {
          position: absolute;
          z-index: $z-index2;
          text-shadow: $text-shadow1;
          font-weight: 600;
          color: $white;
        }
      }
    }
  }
}

.landing-page .about .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  border-radius: $medium-radius;
  background: $white;
  box-shadow: $box-shadow2;

  .grid-item {
    position: relative;
    display: flex;
    align-items: center;

    &.item-1 {
      padding: 2rem 2rem 0 2rem;
      border-top-left-radius: $medium-radius;
      border-top-right-radius: $medium-radius;
      background: $green;

      .image-container {
        position: relative;
        height: 250px;
        width: 100%;
      }
    }

    &.item-2 {
      padding: 2rem;
      border-bottom-left-radius: $medium-radius;
      border-bottom-right-radius: $medium-radius;
      background: $green;

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $green;

        h1,
        h3,
        p {
          color: $white;
        }

        h1 {
          margin-bottom: 0.3rem;
        }

        h3 {
          margin-bottom: 0.5rem;
        }

        p {
          margin-bottom: 2rem;
          word-wrap: break-word;
        }

        button {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .landing-page .showcase .hero-text {
    h1.title {
      margin-bottom: 1rem;
    }

    span.sub-title {
      font-size: 20px;
      line-height: 32px;
    }
  }

  .landing-page .disciplines .grid {
    grid-auto-rows: minmax(100px, 350px);
    gap: 1rem;
  }

  .landing-page .about .grid {
    .grid-item.item-1 {
      .image-container {
        height: 350px;
      }
    }

    .grid-item.item-2 {
      padding: 3rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .landing-page .disciplines {
    h2 {
      text-align: left;
    }

    .grid {
      grid-auto-rows: minmax(100px, 300px);
      grid-template-columns: repeat(2, 1fr);

      .grid-item {
        .image-container {
          img {
            transition: transform 0.5s;
            transform: scale(1.01);
          }
        }

        &:hover {
          .image-container img {
            transform: scale(1.07);
          }
        }
      }
    }
  }

  .landing-page .profiles {
    h2 {
      text-align: left;
    }

    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(100px, 300px);

      .profile-item {
        .toggle-button-wrapper {
          padding: 1rem 1rem 0;
        }

        .carousel {
          .carousel-item {
            padding: 0 1rem 1rem;
          }

          .profile-content .wrapper {
            padding-top: 2rem;
          }
        }
      }

      .skeleton-item {
        padding: 1rem;

        .skeleton-content {
          .wrapper {
            padding-top: 2rem;
          }
        }
      }
    }
  }

  .landing-page .about .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    background: $green;

    .grid-item.item-1 {
      grid-column-start: 2;
      grid-row: 1;
      padding: 0;
      padding-left: 0.75rem;
      background: inherit;
    }

    .grid-item.item-2 {
      grid-column-start: 1;
      grid-row: 1;
      padding: 0;
      padding-right: 0.75rem;

      .content {
        h1 {
          margin-bottom: 0rem;
        }

        p {
          margin-bottom: 3rem;
        }

        a {
          max-width: 250px;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .landing-page .showcase {
    .hero-text {
      h1.title {
        margin-bottom: 0.5rem;
      }

      span.sub-title {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  .landing-page .disciplines .grid {
    grid-auto-rows: minmax(100px, 400px);
  }

  .landing-page .profiles .grid {
    grid-auto-rows: minmax(100px, 350px);

    .profile-item {
      .toggle-button-wrapper {
        padding: 1.5rem 1.5rem 0;
      }

      .carousel {
        .carousel-item {
          padding: 0 1.5rem 1.5rem;
        }

        .profile-content .wrapper {
          padding-top: 3rem;
        }
      }
    }

    .skeleton-item {
      padding: 1.5rem;

      .skeleton-content .wrapper {
        padding-top: 3rem;
      }
    }
  }

  .landing-page .about .grid {
    padding: 2rem 4rem;

    .grid-item.item-1 {
      .image-container {
        height: 450px;
      }
    }

    .grid-item.item-2 {
      .content {
        padding-bottom: 2rem;

        p {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .landing-page .disciplines .grid {
    grid-auto-rows: minmax(100px, 300px);
    grid-template-columns: repeat(3, 1fr);
  }

  .landing-page .profiles .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .landing-page .about .grid {
    padding: 3rem 8rem;

    .grid-item.item-1 {
      padding-left: 1.5rem;

      .image-container {
        height: 500px;
      }
    }

    .grid-item.item-2 {
      padding-right: 1.5rem;

      .content {
        h1 {
          font-size: 6rem;
        }
      }
    }
  }
}
