@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;

.landing-page {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.landing-page .showcase {
  position: relative;
  min-width: 100%;
  height: 600px;
  padding: 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $breakpoint-lg;
    z-index: $z-index1;

    h1.title {
      text-align: center;
      margin-bottom: 1rem;
      color: $white;
    }

    span.sub-title {
      text-align: center;
      margin-bottom: 4rem;
      line-height: 28px;
      color: $white;
      font-weight: 400;

      span.italic {
        font-style: italic;
        font-size: inherit;
        color: inherit;
        font-weight: 700;
      }
    }

    button {
      box-shadow: $box-shadow1;
    }
  }
}

.landing-page .disciplines {
  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, 300px);
    gap: 1rem;

    .grid-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        z-index: $z-index1;
        color: $white;
        text-shadow: $text-shadow1;
        font-weight: 600;
      }
    }
  }
}

.landing-page .profiles {
  background: $light-green;

  h2 {
    margin-bottom: 1.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, 300px);
    gap: 1rem;

    .grid-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.landing-page .about .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  padding: 1.5rem;
  border-radius: 3px;
  background: $green;

  .grid-item {
    position: relative;
    display: flex;
    align-items: center;

    .content {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      h1,
      h3 {
        margin-bottom: 0.25rem;
        color: $white;
      }

      p {
        max-width: 500px;
        margin-bottom: 1.5rem;
        word-wrap: break-word;
        color: $white;
      }

      a {
        width: 250px;
      }
    }

    .image-container {
      height: 250px;
      width: 100%;
      position: relative;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .landing-page .showcase .hero-text {
    h1.title {
      margin-bottom: 1rem;
    }

    span.sub-title {
      font-size: 20px;
      line-height: 32px;
    }
  }

  .landing-page .disciplines .grid {
    grid-auto-rows: minmax(100px, 350px);
    gap: 1rem;
  }

  .landing-page .about .grid {
    gap: 1.5rem;
    padding: 3rem 1.5rem;

    .grid-item {
      .image-container {
        height: 350px;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .landing-page .disciplines {
    h2 {
      text-align: left;
    }

    .grid {
      grid-auto-rows: minmax(100px, 300px);
      grid-template-columns: repeat(2, 1fr);

      .grid-item {
        img {
          transition: transform 0.5s;
          transform: scale(1.01);
        }

        &:hover {
          img {
            transform: scale(1.07);
          }
        }
      }
    }
  }

  .landing-page .about .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;

    .item-1 {
      grid-column-start: 2;
      grid-row: 1;
    }

    .item-2 {
      grid-column-start: 1;
      grid-row: 1;

      .content {
        align-items: initial;
        text-align: initial;

        h1 {
          margin: 0;
        }

        h3 {
          margin-bottom: 0.75rem;
        }

        p {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .landing-page .showcase {
    .hero-text {
      h1.title {
        margin-bottom: 0.5rem;
      }

      span.sub-title {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }

  .landing-page .disciplines .grid {
    grid-auto-rows: minmax(100px, 400px);
  }

  .landing-page .about .grid .grid-item {
    .content {
      p {
        max-width: 100%;
        margin-bottom: 4rem;
      }
    }

    .image-container {
      height: 450px;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .landing-page .disciplines .grid {
    grid-auto-rows: minmax(100px, 300px);
    grid-template-columns: repeat(3, 1fr);
  }

  .landing-page .about .grid {
    padding: 4rem 3rem;
    gap: 3rem;

    .grid-item {
      .content {
        h1 {
          font-size: 6rem;
        }
      }

      .image-container {
        height: 500px;
      }
    }
  }
}
