.my-profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding-bottom: 10rem;

  .box {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
    // overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .profile {
      background: blue;
    }

    .settings {
      background: red;
    }

    .profile,
    .settings {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 300px;
      height: 300px;
      color: white;
    }

    button {
      position: fixed;
      margin-left: 1rem;
      margin-top: 1rem;

      width: 4rem;
      height: 4rem;
    }
  }
}
