@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.profile-page {
  padding: 1.5rem 0 9rem;
  flex: 1;
  background: $light-grey-bg;

  .container {
    max-width: $breakpoint-xl;
  }

  button.danger-button,
  button.success-button {
    width: 100%;
    height: 3rem;
    border-radius: $medium-radius;

    &.success-button {
      border: 1px solid $green;
      background: $light-green;
      color: $green;

      a,
      span {
        color: $green;
      }
    }

    &.danger-button {
      border: 1px solid $red;
      background: $light-red;

      a,
      span {
        color: $red;
      }
    }
  }

  .profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    margin-bottom: 1.5rem;
    min-height: 250px;
    background: $white;
    box-shadow: $box-shadow3;

    .profile-image {
      margin-bottom: 0.25rem;
    }

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;

      .inner-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;

        span,
        h3 {
          text-align: center;
        }

        h3.name {
          margin-bottom: 0.1rem;
          font-weight: 600;
          font-family: $font-title;
        }

        .info-text {
          margin-bottom: 0.25rem;
          color: $grey;
          font-size: 14px;
        }

        .bio {
          margin-bottom: 1.5rem;

          p {
            text-align: center;

            .show-more-btn {
              color: $green;
              cursor: pointer;
              white-space: nowrap;
            }
          }
        }
      }

      button {
        width: 100%;
      }
    }
  }

  .navigation-slide {
    margin-bottom: 1.5rem;
  }

  .project-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin-bottom: 1.5rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(100px, 350px);
      gap: 1rem;
      width: 100%;

      .bottom-visible {
        width: 1px;
        height: 1px;
      }
    }
  }

  .socials {
    .grid {
      .social-card {
        margin-bottom: 1rem;
      }

      .social-card:last-child {
        margin: 0;
      }
    }

    .no-socials-found {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: $medium-radius;
      padding: 1rem;
      min-height: 10rem;
      background: $light-red;
      border: 1px solid $red;
      margin-bottom: 1rem;

      h3 {
        text-align: center;
      }
    }
  }

  .settings {
    width: 100%;

    button {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .profile-page .project-list {
    min-width: 100%;
    margin: 0;

    .grid {
      grid-auto-rows: minmax(100px, 400px);

      .project-item .image-container {
        min-height: 12rem;
      }

      .skeleton-item .skeleton-content .skeleton.image {
        min-height: 12rem;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .profile-page {
    button.success-button:hover,
    button.danger-button:hover {
      color: $white;

      a,
      span {
        color: $white;
      }

      &.success-button {
        border: 1px solid $green !important;
        background: $green !important;
      }

      &.danger-button {
        border: 1px solid $red !important;
        background: $red !important;
      }
    }

    .profile-card {
      flex-direction: row;
      align-items: flex-start;
      padding-left: 2rem;

      .profile-image {
        margin: 0.25rem 1.5rem 0 0;
      }

      .wrapper {
        justify-content: flex-start;

        .inner-wrapper {
          h3,
          span {
            text-align: initial;
          }

          .bio {
            margin-bottom: 4rem;

            p {
              text-align: start;
            }
          }
        }

        a,
        button {
          width: 250px;
        }
      }
    }

    .project-list {
      min-width: 100%;
      margin: 0;

      .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, 350px);
        width: 100%;

        .project-item .image-container {
          min-height: 10rem;
        }

        .skeleton-item .skeleton-content .skeleton.image {
          min-height: 12rem;
        }
      }
    }

    .socials {
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        .social-card {
          margin: 0;
        }
      }

      .no-socials-found {
        max-width: 558px;
      }
    }

    .settings {
      display: flex;
      gap: 1.5rem;

      button {
        margin: 0;
        width: 250px;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .profile-page {
    padding: 3rem 0rem 9rem;

    .project-list .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(100px, 350px);

      .project-item {
        .wrapper {
          padding: 0 1rem 1rem;
        }
      }

      .skeleton-item .skeleton-content {
        .wrapper {
          padding: 0 1rem 1rem;
        }
      }
    }

    .socials {
      gap: 1.5rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .profile-page {
    .profile-card {
      padding: 4rem;
      height: 400px;

      .wrapper {
        height: 100%;

        .inner-wrapper {
          justify-content: flex-start !important;
        }
      }
    }

    .project-list .grid {
      .project-item,
      .skeleton-item .skeleton-content {
        .wrapper {
          padding: 0 1.5rem 1.5rem;
        }
      }
    }
  }
}
