@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.projects-page {
  padding-bottom: 9rem;
  
  .project-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin-bottom: 1.5rem;

    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(100px, 350px);
      gap: 1rem;
      width: 100%;

      .bottom-visible {
        width: 1px;
        height: 1px;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .projects-page .project-list {
    min-width: 100%;
    margin: 0;

    .grid {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .projects-page .project-list .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, 300px);

    .project-item {
      .image-container {
        min-height: 8rem;
      }

      .wrapper {
        padding: 0 1rem 1rem;
      }
    }

    .skeleton-item .skeleton-content {
      .skeleton.image {
        min-height: 8rem;
      }

      .wrapper {
        padding: 0 1rem 1rem;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .projects-page .project-list .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, 350px);

    .project-item {
      .image-container {
        min-height: 10rem;
      }

      .wrapper {
        padding: 0 1.5rem 1.5rem;
      }
    }

    .skeleton-item .skeleton-content {
      .skeleton.image {
        min-height: 10rem;
      }

      .wrapper {
        padding: 0 1.5rem 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-max) {
  .projects-page .project-list .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 350px);
  }
}
