@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.project-page {
  flex: 1;
  border-radius: $medium-radius;
  box-shadow: $box-shadow3;
  padding-bottom: 9rem;

  .container {
    max-width: $breakpoint-xl;
  }

  .content {
    background: $white;

    .title {
      padding-top: 1.5rem;
      margin-bottom: 3rem;
      color: $green;
    }

    .sub-title {
      display: inline-block;
      font-size: 1.125rem;
      font-family: $font-title;
      font-family: $font-title-700;
      color: $green;
    }

    .about,
    .members {
      margin-bottom: 3rem;
    }

    .about {
      .sub-title {
        margin-bottom: 0.1rem;
      }

      .text {
        span {
          color: $green;
          font-weight: $font-body-700;
          cursor: pointer;
        }
      }
    }

    .members {
      margin-bottom: 3rem;

      .sub-title {
        margin-bottom: 0.5rem;
      }

      ul {
        border-radius: $medium-radius;
        background: $light-green;
        padding: 1.5rem 1rem;
        max-height: 16.5rem;

        li {
          .button-container {
            display: none;
          }
        }
      }
    }

    .settings {
      min-width: 100%;

      .buttons {
        display: flex;
        flex-direction: column;
        min-width: 100%;

        button {
          min-width: 100%;
        }

        .leave-project-btn,
        .accept-project-btn {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .project-page .content {
    .title {
      font-size: 2rem;
      line-height: 2.75rem;
      margin-bottom: 3rem;
    }

    .about .sub-title,
    .members .sub-title {
      font-size: 1.125rem;
    }

    .settings .buttons {
      flex-direction: row;

      button {
        min-width: initial;
        max-width: 250px !important;
      }

      .leave-project-btn {
        margin: 0 1.5rem 0 0;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .project-page {
    background: $light-green;
    padding-top: 3rem;

    .content {
      border-radius: $medium-radius;
      padding: 3rem 2rem 6rem;
      box-shadow: $box-shadow3;

      .title,
      .about,
      .members {
        margin-bottom: 3rem;

        .sub-title {
          font-size: 1.25rem;
        }
      }

      .members ul {
        max-height: 19.5rem;
        padding: 1.5rem;

        li .button-container {
          display: initial;

          button {
            width: 180px;
          }
        }
      }

      .title {
        font-size: 2.5rem;
        line-height: 3.75rem;
        padding: 0;
      }

      .about .sub-title {
        margin-bottom: 0.2rem;
      }

      .members .sub-title {
        margin-bottom: 0.5rem;
      }

      .settings .buttons {
        flex-direction: row;

        button {
          width: 250px;
        }

        .leave-project-btn,
        .accept-project-btn {
          margin: 0 1.5rem 0 0;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .project-page .content {
    padding: 3rem 4rem 6rem;
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .project-page .content {
    padding: 3rem 9rem 6rem;
  }
}

// @media only screen and (min-width: $breakpoint-max) {
// }
