@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/fonts" as *;

.content-layout {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  background: $light-green;
}

.content-layout .filters {
  padding-bottom: 1.5rem;

  .filters-mobile {
    .show-filters-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      width: 100%;

      span.text {
        color: $white;
        margin-right: 0.5rem;
      }

      .filter-icon {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
      }
    }

    .filters-menu {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background: $white;
      z-index: $z-index4;

      .top-bar-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        min-height: 5rem;
        width: 100%;
        border-bottom: 1px solid $light-grey;
        cursor: pointer;

        span.title {
          font-family: $font-title;
          font-weight: $font-title-700;
          font-size: 1.25rem;
        }

        span.close-btn {
          font-size: 14px;
          color: $grey;
        }
      }

      .filter-wrapper {
        min-width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-top: 1.5rem;

        li {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $light-grey;
          padding: 0 1rem;
          height: 4rem;
          cursor: pointer;

          span {
            font-size: 1.125rem;
          }

          &.active {
            background: $light-green;

            span {
              color: $green;
            }
          }

          &:last-child {
            border: none;
          }
        }
      }

      .bottom-bar {
        position: sticky;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 1rem;
        min-width: 100%;

        button {
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .content-layout {
    padding: 1.5rem 0 9rem;
    position: relative;

    .container {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 1rem;
    }
  }

  .content-layout .filters {
    display: flex;
    padding: 0;

    .filters-desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      height: 600px;
      width: 100%;
      border-radius: $medium-radius;
      box-shadow: $box-shadow3;
      background: $white;

      .filter-wrapper {
        flex: 1;

        .disciplines-dropdown {
          padding-bottom: 1.5rem;
          margin-bottom: 1rem;
          border-bottom: 1px solid $border-color1;
        }

        .sort-dropdown {
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .content-layout {
    padding-top: 3rem;
  }

  .content-layout .filters {
    display: flex;
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .content-layout .container {
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .content-layout .filters {
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .content-layout .filters {
    width: 100%;
  }
}
