@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/border-radius" as *;

footer {
  background: $green;

  .footer-main-content {
    display: grid;
    padding: 3rem 1rem;
    margin: 0 auto;
    max-width: $breakpoint-xl;

    .title-content {
      margin-bottom: 2rem;

      h1 {
        color: $white;
      }
    }

    .page-links {
      margin-bottom: 2rem;
    }

    h4 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: $white;
    }

    ul li {
      margin-bottom: 1rem;

      a {
        color: $white;
      }
    }
  }

  .footer-bottom-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;

    span {
      color: $white;
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  footer .footer-main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem 0;
    max-width: $breakpoint-md;
    gap: 1rem;

    .contact-links,
    .page-links,
    .title-content {
      margin: 0 auto;
    }

    .title-content {
      display: flex;
      justify-content: center;
      padding-top: 4rem;
      // align-items: center;
      // padding-bottom: 4rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  footer .footer-main-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    max-width: $breakpoint-lg;

    .title-content {
      grid-column: 1 / 3;
    }

    .contact-links,
    .page-links {
      h4 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }

      ul li {
        margin-bottom: 1.5rem;

        a {
          font-size: 1.125rem;
        }
      }
    }

    .page-links {
      grid-column: 3 / 4;
    }

    .contact-links {
      grid-column: 4 / 5;
    }
  }
}

@media only screen and (min-width: $breakpoint-max) {
  footer .footer-main-content {
    padding: 8rem 0;
  }
}
