@use "../abstracts/zindex" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.mobile-menu {
  position: fixed;
  top: 5rem;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: scroll;
  z-index: $z-index3;
  background: $white;
  padding-bottom: 8rem;

  ul {
    overflow-y: scroll;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light-grey;
      padding: 1.5rem 1rem;
      cursor: pointer;
      height: 4rem;

      a,
      span {
        font-size: 1.125rem;
        font-weight: 600;
        font-family: $font-body;
      }

      &.active {
        background: $light-green;

        a,
        span {
          color: $green;
        }
      }

      &:last-child {
        border: none;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .mobile-menu ul li {
    padding: 1.5rem;
  }
}
