@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;

.navbar {
  position: fixed;
  z-index: $z-index3;
  width: 100%;
  background: $white;
  border-bottom: 1px solid $light-grey;

  &.no-border-navbar {
    border-bottom: 1px solid $white;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    width: 100%;
  }

  .links ul {
    display: none;
  }

  .burger-button {
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      margin: 4px 0;
      border-radius: 3px;
      background: $black;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .navbar {
    position: relative;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        margin-right: 1.5rem;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin-right: 1.5rem;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    a {
      font-size: 1.125rem;
    }

    .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      .notifications-icon,
      .inbox-icon {
        margin-right: 1.5rem;
        cursor: pointer;
      }

      .account-dropdown {
        img {
          cursor: pointer;
        }

        .dropdown-menu {
          position: absolute;
          right: -0.5rem;
          top: 3.5rem;
          width: 250px;
          background: $white;
          border-radius: 3px;
          box-shadow: $box-shadow1;
          padding: 3rem 2rem;

          // To prevent cursor from working
          img {
            cursor: initial;
          }

          ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 2rem;

            &:last-child {
              border-top: 1px solid $border-color1;
              padding-top: 2rem;
              margin: 0;

              a {
                transition: all 0.1s ease-in-out;

                &:hover {
                  color: $red;
                }
              }
            }
          }
        }
      }
    }

    .auth-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li:first-child {
        margin-right: 1.5rem;
      }

      button {
        height: 3rem;
        width: 10rem;
        border-radius: 3rem;
        border: none;
        color: $white;
        background: $black;
      }
    }
  }
}
