@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;

.navbar {
  position: fixed;
  z-index: $z-index3;
  width: 100%;
  background: $white;
  border-bottom: 1px solid $light-grey;

  &.no-border-navbar {
    border-bottom: 1px solid $white;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    width: 100%;
  }

  .links ul {
    display: none;
  }

  .burger-button {
    cursor: pointer;

    div {
      width: 25px;
      height: 3px;
      margin: 4px 0;
      border-radius: 3px;
      background: $black;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .navbar {
    position: relative;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        margin-right: 1.5rem;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          margin-right: 1.5rem;

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    a {
      font-size: 1.125rem;
    }

    .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      .notifications-icon,
      .inbox-icon {
        margin-right: 1.5rem;
        cursor: pointer;
      }

      .account-dropdown {
        .profile-image {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          border: 3px solid $green;
          width: 3rem;
          height: 3rem;
          overflow: hidden;
          cursor: pointer;

          .image-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            img {
              border-radius: inherit;
            }

            .hide {
              display: none !important;
            }
          }
        }

        .dropdown {
          position: absolute;
          right: -8px;
          width: 250px;
          background: $white;
          border-radius: 3px;
          padding: 0.5rem;
          z-index: $z-index3;

          ul {
            li {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 1rem;
              margin-bottom: 0.5rem;
              border-radius: 3px;
              background: $grey-bg;
              cursor: pointer;

              span {
                font-size: 14px;
                font-weight: 600;
              }

              &:hover {
                background: $dark-grey-bg;
              }
            }

            a:last-child li {
              margin: 0;
            }
          }
        }
      }
    }

    .auth-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li:first-child {
        margin-right: 1.5rem;
      }

      button {
        height: 3rem;
        width: 10rem;
        border-radius: 3rem;
        border: none;
        color: $white;
        background: $black;
      }
    }
  }
}
