// Colors
$white: #ffffff;
$light-bg: #fafafa;
$light-grey: #d9d9d9;
$grey: #969696;
$light-green: #f0f7f6;
$light-red: #ffefef;
$red: #fb3640;
$green: #1b998b;
$blue: #0a2463;
$black: #0d1321;

// Border Colors
$border-color1: #d9d9d9;
$border-color2: #f1f1f1;
