// Colors
$white: #ffffff;
$light-grey-bg: #fafafa;
$grey-bg: #f6f6f6;
$dark-grey-bg: #f1f1f1;
$light-grey: #d9d9d9;
$grey: #969696;
$light-green: #f0f7f6;
$light-green-darker: rgba(232, 243, 241, 0.85);
$light-red: #ffefef;
$red: #fb3640;
$green: #1b998b;
$blue: #0a2463;
$black: #0d1321;
$black-lighter: rgba(13, 19, 33, 0.99);

// Border Colors
$border-color1: #d9d9d9;
$border-color2: #f1f1f1;
