// Font families
$font-title: "Cabin", sans-serif;
$font-body: "Open Sans", sans-serif;

// Font weights
$font-title-600: 600;
$font-title-700: 700;
$font-body-400: 400;
$font-body-600: 600;
$font-body-700: 700;
