@use "../abstracts/colors" as *;
@use "../abstracts/zIndex" as *;
@use "../abstracts/breakpoints" as *;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $z-index4;
  padding: 1rem;

  .modal {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 3px;
    padding: 1rem;
    background: white;

    p,
    span {
      color: $white;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .modal-backdrop {
    padding: 1.5rem;
  }
}
