@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/breakpoints" as *;

#toasts-portal {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .toast {
    border-radius: $medium-radius;
    padding: 1rem 1.5rem;
    max-width: 350px;
    background: $white;
    box-shadow: $box-shadow2;
    z-index: $z-index4;

    span {
      z-index: $z-index4;
      font-size: 14px;
    }

    &.success {
      border: 1px solid $green;
      background: $light-green;
    }

    &.danger {
      border: 1px solid $red;
      background: $light-red;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  #toasts-portal {
    align-items: flex-end;
    right: 1.5rem;
  }
}
