@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/border-radius" as *;

.white {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius;
  background: $white;
  color: $black;
}

.black {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius;
  background: $black;
  color: $white;
}

.lightGrey {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius;
  border: 1px solid $grey;
  background: $light-grey-bg;
  color: $white;
}

.green {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius;
  background: $green;
  color: $white;
}

.disabled {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius !important;
  border: 1px solid $border-color1 !important;
  background: $light-grey-bg !important;
  color: $light-grey !important;
  cursor: initial !important;
}

.red {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius;
  background: $red;
  color: $white;
}

.lightGreen {
  height: 3rem;
  width: 250px;
  border: none;
  border-radius: $medium-radius;
  background: $light-green;
  color: $green;
  border: 1px solid $green;
}

.lightRed {
  height: 3rem;
  width: 250px;
  border-radius: $medium-radius;
  border: 1px solid $red;
  background: $light-red;
  color: $red;
}

@media only screen and (min-width: $breakpoint-md) {
  .lightGreen:hover {
    color: $white;
    background: $green;
  }

  .lightRed:hover {
    color: $white;
    background: $red;
  }
}
