@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.chatbox {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  :global {
    .messages {
      flex: 1;
      background: $light-grey-bg;
    }

    .form-container {
      background: $white;

      form {
        display: flex;
        align-items: center;
        padding: 1rem;
        min-width: 100%;

        .input-group {
          margin: 0 1rem 0 0;
          width: 100%;
        }

        button {
          cursor: pointer;
          width: 8rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
}
