@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/breakpoints" as *;

.active {
  :global {
    .show-dropdown-menu-btn {
      border: 1px solid $green !important;
      background: $light-green !important;

      span {
        color: $green !important;
      }
       
    }
  }
}

.default {
  margin-bottom: 1rem;

  :global {
    // :global for not having to define nested module classes in jsx
    .input-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0.25rem;

      label {
        font-weight: $font-body-400;
        white-space: nowrap;
      }

      span {
        padding-left: 1rem;
        font-size: 12px;
        text-align: right;

        &.success-message {
          color: $green;
        }

        &.error-message {
          color: $red;
        }
      }
    }

    .show-dropdown-menu-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 3rem;
      padding: 0 1rem;
      border: 1px solid $border-color1;
      border-radius: $medium-radius;
      background: $grey-bg;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: $font-body-400;

        &.placeholder {
          color: $grey;
        }
      }

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .dropdown-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: $white;
      z-index: $z-index4;

      .top-bar {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 5rem;
        width: 100%;
        border-bottom: 1px solid $light-grey;
        cursor: pointer;

        span.selected-title {
          font-family: $font-title;
          font-weight: $font-title-700;
          font-size: 1.25rem;
        }

        span.close-btn {
          font-size: 14px;
          color: $grey;
        }
      }

      ul.dropdown-list {
        position: absolute;
        top: 5rem;
        left: 3;
        min-width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 5rem;

        li {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $light-grey;
          padding: 0 1rem;
          width: 100%;
          height: 4rem;
          cursor: pointer;

          span {
            font-size: 1.125rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          &:last-child {
            border: none;
          }
        }
      }

      ul.single-selection li.active {
        background: $light-green;

        span {
          color: $green;
        }
      }

      ul.multi-selections li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;

        &.active {
          background: none;

          .check-circle {
            background: $green;

            img {
              display: initial !important;
            }
          }
        }

        .check-circle {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0.5px;
          padding-top: 2px;
          min-width: 1.5rem;
          height: 1.5rem;
          border: 1px solid $green;
          background: $light-green;
          border-radius: $medium-radius;

          img {
            display: none !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .default {
    position: relative;

    :global {
      .dropdown-menu {
        position: absolute;
        top: 5.25rem;
        left: -4px;
        width: calc(100% + 15.5px);
        max-height: 336px;
        z-index: $z-index3;
        border-radius: $medium-radius;
        box-shadow: $box-shadow4;

        .top-bar {
          display: none;
        }

        ul.dropdown-list {
          position: relative;
          top: 0;
          padding: 0;
          border-radius: $medium-radius;

          li {
            height: 3.5rem;
            cursor: pointer;
            border-bottom: 1px solid $light-green;

            &:hover {
              background: $light-green;

              span {
                color: $green;
              }
            }

            span {
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
}
