@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zIndex" as *;

.dropdown {
  position: absolute;
  background: $white;
  border-radius: 3px;
  padding: 0.5rem;
  z-index: $z-index3;

  ul {
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      margin-bottom: 0.5rem;
      border-radius: 3px;
      background: $grey-bg;
      cursor: pointer;

      span {
        font-size: 14px;
        font-weight: 600;
      }

      &:hover {
        background: $dark-grey-bg;
      }
    }

    a:last-child li {
      margin: 0;
    }
  }
}
