@use "../abstracts/colors" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/fonts" as *;

.mobile {
  :global {
    .filters-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: $white;
      z-index: $z-index4;

      .top-bar-menu {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 5rem;
        width: 100%;
        border-bottom: 1px solid $light-grey;
        cursor: pointer;

        span.title {
          font-family: $font-title;
          font-weight: 800;
          font-size: 1.25rem;
        }

        span.close-btn {
          font-size: 14px;
          color: $grey;
        }
      }

      .top-bar {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 5rem;
        width: 100%;
        border-bottom: 1px solid $light-grey;
        cursor: pointer;
        z-index: 400;

        span.title,
        span.selected-title {
          font-family: $font-title;
          font-weight: 800;
          font-size: 1.25rem;
        }

        span.close-btn {
          font-size: 14px;
          color: $grey;
        }
      }

      .filter-wrapper {
        position: absolute;
        top: 5rem;
        left: 3;
        min-width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-top: 1.5rem;

        li {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $light-grey;
          padding: 0 1rem;
          height: 4rem;
          cursor: pointer;

          span {
            font-size: 1.125rem;
          }

          &.active {
            background: $light-green;

            span {
              color: $green;
            }
          }

          &:last-child {
            border: none;
          }
        }
      }

      .bottom-bar {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        height: 5rem;
        width: 100%;
        border-bottom: 1px solid $light-grey;

        button {
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}

.desktop {
  display: none;
}

@media only screen and (min-width: $breakpoint-md) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    height: 600px;
    background: $white;

    :global {
      .filter-wrapper {
        flex: 1;

        .disciplines-dropdown {
          padding-bottom: 1.5rem;
          margin-bottom: 1rem;
          border-bottom: 1px solid $border-color1;
        }

        .sort-dropdown {
          margin: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: $breakpoint-lg) {
  // .desktop {
  // }

  // .profile-page .profile-list {
  // }
}
