@use "../abstracts/colors" as *;

.input {
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 3px;
  padding: 0 1rem;
  height: 3rem;
  background: $grey-bg;
  color: $black;
  outline: $green !important;

  &:focus {
    border-color: $green;
  }
}
