@use "../abstracts/colors" as *;
@use "../abstracts/border-radius" as *;

.default {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid $light-grey;
  border-radius: $medium-radius;
  background: $grey-bg;
  color: $black;
  outline: $green !important;

  &:focus {
    border-color: $green;
    background: $light-green !important;
    box-shadow: 0 0 0px 1000px $light-green inset !important;

    &::placeholder {
      color: $black;
    }
  }
}

.textarea {
  width: 100%;
  height: 12rem;
  padding: 0.5rem 1rem;
  border: 1px solid $light-grey;
  border-radius: $medium-radius;
  background: $grey-bg;
  color: $black;
  outline: $green !important;

  &:focus {
    border-color: $green;
    background: $light-green !important;
    box-shadow: 0 0 0px 1000px $light-green inset !important;

    &::placeholder {
      color: $black;
    }
  }
}
