@use "../abstracts/colors" as *;

.profileImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 3px solid $green;
  margin-bottom: 0.25rem;

  img {
    border-radius: 50px;
  }
}
