@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@use "../abstracts/shadows" as *;
@use "../abstracts/zindex" as *;
@use "../abstracts/border-radius" as *;
@use "../abstracts/fonts" as *;

.item {
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: $medium-radius;
  box-shadow: $box-shadow3;

  :global {
    .image-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 10rem;
      border-top-left-radius: $medium-radius;
      border-top-right-radius: $medium-radius;
      overflow: hidden;

      span {
        color: $white;
      }

      img {
        border-radius: inherit;
      }

      &.add-background {
        background: $green;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 1.5rem 1.5rem;

      .title-container {
        flex: 1;
        display: flex;
        align-items: center;
        max-width: 400px;
        z-index: 0;

        .title {
          text-align: center;
          font-size: 1.25rem;
          line-height: 1.75rem;
          font-family: $font-title;
          font-weight: $font-title-700;
          overflow: hidden;
        }
      }

      a {
        width: 100%;

        button {
          width: inherit;

          span {
            color: $green;
          }

          &:hover {
            span {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.noProjectsFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: $medium-radius;
  padding: 1rem;
  min-height: 10rem;
  background: $light-red;
  border: 1px solid $red;
  margin-bottom: 1rem;

  :global {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        text-align: center;
      }

      span {
        margin-top: 0.5rem;
      }
    }
  }
}

.skeleton {
  display: flex;
  width: 100%;
  border-radius: $medium-radius;
  position: relative;
  overflow: hidden;
  background: $white;
  box-shadow: $box-shadow3;

  :global {
    .skeleton-content {
      flex: 1;
      display: flex;
      flex-direction: column;

      .skeleton {
        background: $dark-grey-bg;
        overflow: hidden;
      }

      .skeleton.image {
        min-height: 10rem;
        width: 100%;
        border-top-left-radius: $medium-radius;
        border-top-right-radius: $medium-radius;
      }

      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem 1.5rem;
        height: 100%;

        .title-container {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .skeleton.title {
            width: 100%;
            height: 3.5rem;
            border-radius: $medium-radius;
          }
        }

        .skeleton.button {
          width: 100%;
          height: 3rem;
          border-radius: $medium-radius;
        }
      }
    }

    .shimmer-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: loading 2.5s infinite;

      .shimmer {
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        transform: skewX(-20deg);
        box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.2);
      }

      @keyframes loading {
        0% {
          transform: translateX(-150%);
        }
        50% {
          transform: translateX(-60%);
        }
        100% {
          transform: translateX(150%);
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .noProjectsFound {
    max-width: 558px;
  }
}
