@use "./abstracts/colors" as *;
@use "./abstracts/breakpoints" as *;

// Shadows
// $box-shadow1: 0px 3px 9px rgba(0, 0, 0, 0.1);
$box-shadow1: 0px 3px 6px rgba(0, 0, 0, 0.01), 0 4px 8px rgba(0, 0, 0, 0.06);
$box-shadow2: 0px 3px 6px rgba(0, 0, 0, 0.01);
$text-shadow1: 1px 1px 3px rgba(0, 0, 0, 0.15);
$text-shadow2: 0 2px 6px rgba(0, 0, 0, 0.09);

// Backdrops
$backdrop1: rgba(0, 0, 0, 0.5);

// Border radius
$small-radius: 1px;
$medium-radius: 3px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  letter-spacing: 0.5px;
  font-family: "Inter", sans-serif;
}

body,
html,
#__next {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0;
}

// Prevent scroll hook under 768px
.body-prevent-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
button,
a {
  font-family: "Cabin", sans-serif;
}

h1,
h3,
h2,
h4 {
  font-weight: 700; // bold
}

button,
a {
  font-weight: 600; // semibold
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p,
span,
input,
label {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transition: all 0.1s ease-in;
    color: $green;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  padding: 0 1rem;
  height: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: $breakpoint-sm) {
  .container {
    padding: 0 1.5rem;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .body-prevent-scroll {
    overflow: initial;
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 28px;
  }

  p,
  span,
  input,
  label {
    font-size: 16px;
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .container {
    max-width: $breakpoint-xl;
  }
}
